{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Required meta tag-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!--    jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--    Semantic UI-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
    <title>Datascience{% block title %}{% endblock title %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}{% endblock content %}
<script src="{% static 'main.js' %}"></script>
</body>
</html>
